
[Desktop Entry]
Name=Youtube
Comment=Youtube web app
Exec=brave-browser --app=https://youtube.com/
Icon=~/Pictures/YTLogo.png
Type=Application
Categories=Utility;Development;WebApp;
StartupWMClass=youtube-startup
